<!-- src/app/browse-questions/browse-questions.component.html -->

<div class="questions-container">
  <div class="browse-button-container">
    <button (click)="showQuestions = true" class="browse-button">
      Browse All Questions
    </button>
  </div>

  <div *ngIf="showQuestions" class="questions-container">
    <div
      *ngFor="let questionGroup of questionsGroupedByTopic"
      class="question-group"
    >
      <div class="header-container">
        <h3 class="topic-heading">{{ questionGroup.topic }}</h3>
        <div class="header-actions">
          <!-- Add any attractive header actions or buttons here -->
        </div>
      </div>
      <div
        (click)="toggleChoices(questionGroup.topic, i)"
        *ngFor="let question of questionGroup.questions; let i = index"
        class="question"
      >
        <p class="question-text">
          Question {{ i + 1 }}: {{ question.text }} (Score:
          {{ question.score }})
        </p>
        <div
          [class.hidden]="!showChoices[questionGroup.topic][i]"
          class="choices-container"
        >
          <label *ngFor="let answer of question.answers" class="choice-label">
            <input [name]="'question' + i" class="choice-radio" type="radio"/>
            <span class="choice-text">{{ answer.text }}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
