<div class="container-fluid">
  <div class="profile-info">
    <h2>{{teacher?.first_name}} {{teacher?.last_name}}</h2>
    <p>Email: {{teacher?.email}}</p>
  </div>
  <form (submit)="submit()" [formGroup]="form!">
    <div class="row">
      <div class="form-group col-sm-12 col-md-6">
        <label for="first_name">First name:</label>
        <input class="form-control" formControlName="first_name" type="text">
        <div *ngIf="form?.get('first_name')?.errors?.['required'] && submit_clicked" class="error">First name is
          required.
        </div>
        <div *ngIf="(form?.get('first_name')?.errors?.['minlength'] || form?.get('first_name')?.errors?.['maxlength']) && form?.get('first_name')?.dirty"
             class="error">
          First name must be at least 3 and at most 20 characters long.
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-6">
        <label for="last_name">Last name:</label>
        <input class="form-control" formControlName="last_name" type="text">
        <div *ngIf="form?.get('last_name')?.errors?.['required'] && submit_clicked" class="error">First name is
          required.
        </div>
        <div *ngIf="(form?.get('last_name')?.errors?.['minlength'] || form?.get('last_name')?.errors?.['maxlength']) && form?.get('first_name')?.dirty"
             class="error">
          Last name must be at least 3 and at most 20 characters long.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input class="form-control" formControlName="email" id="email" placeholder="Enter your email" type="email">
      <div *ngIf="form?.get('email')?.errors?.['email'] && (form?.get('email')?.dirty || form?.get('email')?.touched)"
           class="error-message">
        <div *ngIf="form?.get('email')?.errors?.['email']" class="error">Please enter a valid email address.</div>
      </div>
      <div *ngIf="form?.get('email')?.errors?.['required'] && submit_clicked" class="error">Email is required.</div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input class="form-control" formControlName="password" id="password" placeholder="Enter new password"
             type="password">
      <div *ngIf="form?.get('password')?.errors?.['required'] && submit_clicked" class="error">Password is required.
      </div>
      <div *ngIf="(form?.get('password')?.errors?.['minlength'] || form?.get('password')?.errors?.['maxlength']) && form?.get('password')?.dirty"
           class="error">
        Password must be at least 8 and at most 16 characters long.
      </div>
      <div *ngIf="form?.get('password')?.errors?.['weakPassword'] && form?.get('password')?.dirty" class="error">
        Password must contain at least one uppercase letter, one lowercase letter, one number and a special character.
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input class="form-control" formControlName="repeat_password" id="confirmPassword" placeholder="Confirm new password"
             type="password">
      <div
        *ngIf="form?.get('repeat_password')?.invalid && (form?.get('repeat_password')?.dirty || form?.get('repeat_password')?.touched)"
        class="error-message">
        <div *ngIf="form?.get('repeat_password')?.errors?.['required']" class="error">Confirmation password is
          required.
        </div>
        <div *ngIf="form?.get('repeat_password')?.errors?.['passwordMismatch']" class="error">Passwords do not match.
        </div>
      </div>
    </div>

    <button class="btn btn-outline-dark save" type="submit">Save Changes</button>
  </form>
  <div class="space">
  </div>
  <hr>
  <button (click)="openDeleteModal(confirmModal)" class="btn btn-outline-danger">Delete Account</button>
</div>

<ng-template #confirmModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Profile deletion</h4>
    <button
      (click)="modal.dismiss('Cross click')"
      aria-describedby="modal-title"
      class="btn-close"
      type="button"
    ></button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Are you sure you want to delete your profile?</strong>
    </p>
    <p>
      All information associated to this user profile will be permanently deleted.<br><br>
      <strong class="text-danger">This operation cannot be undone.</strong>
    </p>
  </div>
  <div class="modal-footer">
    <button (click)="modal.dismiss('cancel click')" class="btn btn-outline-secondary" type="button">Cancel</button>
    <button (click)="modal.close('Ok click')" class="btn btn-danger" type="button">Ok</button>
  </div>
</ng-template>
