<div class="exam-container">
  <h2>Create Open Question</h2>
  <form [formGroup]="questionForm" class="exam-form">


    <!-- Topic on top left -->
    <mat-form-field class="topic-field">
      <mat-label>Topic</mat-label>
      <input matInput formControlName="topic" placeholder="Type a new topic or select it" />
      <mat-select formControlName="topic" *ngIf="isTopicListVisible()" (selectionChange)="onTopicSelected($event)">
        <mat-option *ngFor="let topic of topics" [value]="topic">{{ topic }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="spacer"></div>

    <!-- Score on top right -->
    <mat-form-field class="score-field">
      <mat-label>Score</mat-label>
      <input matInput type="number" formControlName="score" placeholder="Enter" />
      <mat-error *ngIf="questionForm.get('score')?.invalid && questionForm.get('score')?.touched">
        Please enter a valid score.
      </mat-error>
    </mat-form-field>

    <!-- Question text area in the center -->
    <mat-form-field class="question-text-field">
      <textarea matInput placeholder="Enter your question here*" formControlName="text"></textarea>
      <mat-error *ngIf="questionForm.get('text')?.invalid && questionForm.get('text')?.touched">
        Question text is required.
      </mat-error>
    </mat-form-field>


    <div class="button-container">
      <button mat-raised-button color="accent" type="button" (click)="submitQuestion()">Submit Question</button>
    </div>
  </form>
</div>


