<div class="exam-container">
  <h2>Create Question</h2>
  <form [formGroup]="questionForm" class="exam-form">


    <!-- Topic on top left -->
    <mat-form-field class="topic-field">
      <mat-label>Topic</mat-label>
      <input formControlName="topic" matInput placeholder="Type a new topic or select it"/>
      <mat-select (selectionChange)="onTopicSelected($event)" *ngIf="isTopicListVisible()" formControlName="topic">
        <mat-option *ngFor="let topic of topics" [value]="topic">{{ topic }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="spacer"></div>

    <!-- Score on top right -->
    <mat-form-field class="score-field">
      <mat-label>Score</mat-label>
      <input formControlName="score" matInput placeholder="Enter" type="number"/>
      <mat-error *ngIf="questionForm.get('score')?.invalid && questionForm.get('score')?.touched">
        Please enter a valid score.
      </mat-error>
    </mat-form-field>

    <!-- Question text area in the center -->
    <mat-form-field class="question-text-field">
      <textarea formControlName="text" matInput placeholder="Enter your question here*"></textarea>
      <mat-error *ngIf="questionForm.get('text')?.invalid && questionForm.get('text')?.touched">
        Question text is required.
      </mat-error>
    </mat-form-field>


    <div formArrayName="answers">
      <div *ngFor="let answer of answers.controls; let i = index" class="answer-container">
        <mat-form-field>
          <input [formControl]="answer.get('text')" matInput placeholder="Answer {{ i + 1 }}"/>
        </mat-form-field>

        <mat-checkbox (click)="checkCorrectAnswers()" [formControl]="answer.get('isCorrect')">Correct Answer
        </mat-checkbox>

        <button (click)="removeAnswer(i)" mat-icon-button type="button">
          <mat-icon>clear</mat-icon>
        </button>
      </div>

      <div *ngIf="showDeleteErrorMessage" class="error-message">
        At least two answers are required.
      </div>
      <div *ngIf="!showDeleteErrorMessage" class="error-message"></div>
    </div>

    <div *ngIf="!hasCorrectAnswer" class="error-correct-message">
      At least one correct answer is required.
    </div>

    <div *ngIf="hasCorrectAnswer" class="error-correct-message"></div>

    <div class="button-container">
      <button (click)="addAnswer()" color="primary" mat-raised-button type="button">Add Answer</button>
      <button (click)="submitQuestion()" color="accent" mat-raised-button type="button">Submit Question</button>
    </div>
  </form>
</div>

