<div class="exam-container">
  <h2>Create Question</h2>
  <form [formGroup]="questionForm" class="exam-form">
    <mat-form-field>
      <input matInput type="number" formControlName="score" placeholder="Enter question score" />
    </mat-form-field>

    
    <mat-form-field>
      <textarea matInput placeholder="Enter your question here" formControlName="text"></textarea>
    </mat-form-field>



    <mat-form-field>
      <mat-label>Topic</mat-label>
      <input matInput formControlName="topic" placeholder="Type a new topic or select from the list" />
      <mat-select formControlName="topic" *ngIf="isTopicListVisible()">
        <mat-option *ngFor="let topic of topics" [value]="topic">{{ topic }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div formArrayName="answers">
      <div *ngFor="let answer of answers.controls; let i = index" class="answer-container">
        <mat-form-field>
          <input matInput placeholder="Answer {{ i + 1 }}" [formControl]="answer.get('text')" />
        </mat-form-field>

        <mat-checkbox [formControl]="answer.get('isCorrect')">Correct Answer</mat-checkbox>

        <button mat-icon-button type="button" (click)="removeAnswer(i)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>

    <button mat-raised-button color="primary" type="button" (click)="addAnswer()">Add Answer</button>

    <button mat-raised-button color="accent" type="button" (click)="submitQuestion()">Submit Question</button>
  </form>
</div>
