<div class="container">
  <div class="login-container">
    <h2>Sign in</h2>
    <form (submit)="submit()" [formGroup]="form!">
      <div class="form-group">
        <label for="email">Email:</label>
        <input [ngClass]="{'error-border':wrong_credentials}" class="form-control" formControlName="email" id="email"
               placeholder="Enter your email" type="email">
        <div *ngIf="form?.get('email')?.errors?.['email'] && (form?.get('email')?.dirty || form?.get('email')?.touched)"
             class="error-message">
          <div *ngIf="form?.get('email')?.errors?.['email']" class="error">Please enter a valid email address.</div>
        </div>
        <div *ngIf="form?.get('email')?.errors?.['required'] && submit_clicked" class="error">Email is required.</div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input [ngClass]="{'error-border':wrong_credentials}" class="form-control" formControlName="password"
               id="password" placeholder="Enter your password" type="password">
        <div *ngIf="form?.get('password')?.errors?.['required'] && submit_clicked" class="error">Password is required.
        </div>
      </div>
      <p *ngIf="wrong_credentials" class="wrong_credentials">Wrong credentials.</p>
      <button class="btn btn-dark btn-login" type="submit">Sign in</button>
      <label class="sign-up-label">Don't have an account? <span (click)="goToSignUp()"
                                                                class="sign-up">Sign up</span></label>
    </form>
  </div>
</div>
