<div class="myContainer">
  <mat-toolbar color="primary">
    <span>Exam.net</span>

    <span class="spacer"></span>

    <div class="button-container">

      <button class="center-icon" id="importQuestion-Button" mat-button routerLink="/question-import">
        <span class="material-icons">edit</span>
        Import Questions
      </button>

      <button class="center-icon" id="NewQuestion-Button" mat-button routerLink="question-creation">
        <span class="material-icons">edit</span>
        New Question
      </button>
      <button class="center-icon" id="NewQuestion-Button" mat-button routerLink="auto-exam-creation">
        <span class="material-icons">edit</span>
        New Exam
      </button>
      <button class="center-icon" id="QuestionsList-Button" mat-button routerLink="/questions-list">
        <span class="material-icons">list</span>
        Question list
      </button>
      <button class="center-icon" id="ExamsList-Button" mat-button routerLink="browse-exams">
        <span class="material-icons">list</span>
        My Exams
      </button>
      <button class="center-icon" id="Profile-Button" mat-button routerLink="profile">
        <span class="material-icons">person</span>
        Profile
      </button>
      <button (click)="logout()" class="center-icon" id="LogOut-Button" mat-button>
        <span class="material-icons">logout</span>
        Log out
      </button>
    </div>
  </mat-toolbar>
  <div class="children">
    <router-outlet></router-outlet>
  </div>
  <!--<app-question *ngIf="isChildVisible"></app-question>-->
</div>
