.header {
  width: 100%;
  border: 3px solid #171f38;
  background: #0e1630;
  height: 40px;
  line-height: 40px;
}
.nav__wrapper {
  height: 80px;
  line-height: 80px;
  color: #01d293;
  font-size: 14px;
  display: flex;
  background: #0e1630;

  align-items: center;
  justify-content: space-between;
}
.logo h1 {
  font-size: 1rem;
  margin-left: 60px;
}
.logo h1 span {
  color: #01d293;
}
.nav__menu {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  cursor: pointer;
  margin-right: 150px;
}
.activeLink {
  color: #808dad;
}

.not__visited {
  color: #01d293;
  text-decoration: none;
}
/* .nav__menu a :active {
	color: red;
	text-decoration: none;
} */
.nav__menu a:hover {
  color: #808dad;
}
.nav__menu li {
  display: flex;
  font-weight: 600;
  color: #01d293;
  font-size: 13px;

  transition: 0.3s;
  text-transform: uppercase;
  align-items: center;
  margin: 0 10px;
  position: relative;
}
/* .nav__menu li:first-child a {
	color: #808dad;
} */

.hasSubmenu:hover {
  color: #808dad;
  cursor: pointer;
}
.hasSubmenu::after {
  content: "";
  display: inline-block;
  margin-left: 8px;
  width: 0;
  height: 0;
  border-left: 5px solid #ffffff;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  transform: rotate(90deg);
  /* rotate arrow 90 degrees */
  vertical-align: middle;
}
.submenu {
  position: absolute;
  top: 100%;
  margin: 0;
  display: none;
  z-index: 1;
}

.hasSubmenu:hover .submenu {
  display: block;
  box-shadow: 5px 5px 15px 15px #01d29344 !important;
}

.submenuItem {
  text-align: left;
  margin: 0;
  width: 210px;
}
.submenuItem :hover {
  position: relative;
  transform: rotateY(360deg);
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  border-bottom: 2px solid transparent; /*Add transparent border*/
  transition: border-bottom-color 10s ease-in-out;
}

.nav__right p {
  color: #01d293;
  margin-left: 20px;
  position: relative;
}
.nav__right i {
  color: #808dad;
}

.nav__right p::before {
  content: "";
  position: absolute;
  top: 25%;
  left: -20px;
  width: 1px;
  height: 14px;
  background: #808dad;
  color: #808dad;
}

.header__shrink {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: #333;
  height: 80px;
  line-height: 80px;
  box-shadow: 5px 5px 15px 15px #01d29344 !important;
  z-index: 9999;
}

.mobile__menu i {
  font-size: 1.3rem;
  color: #fff;

  cursor: pointer;
}

.mobile__menu {
  display: none;
}

/* from test css componenet*/

/* ========== make it responsive ========= */

@media only screen and (max-width: 992px) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #171f3897;
    z-index: 99999;
    display: none;
  }

  .nav__right {
    display: none;
  }
  .nav__menu {
    flex-direction: column;
  }

  .mobile__menu {
    display: block !important;
  }

  .menu__active {
    display: flex;
    flex-direction: column;
    display: block !important;
  }

  .logo h1 {
    font-size: 1.3rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    height: 60px;
    line-height: 60px;
  }
}
