<div class="container-fluid">
  <div class="button-container"></div>
  <div class="container-fluid">
    <mat-tab-group
      dynamicHeight
      animationDuration="800ms"
      (selectedIndexChange)="onTabChange($event)"
    >
      <mat-tab label="Saved exams">
        <div class="row cards-container">
          <div *ngFor="let exam of exams" class="col col-auto">
            <div
              class="card border-dark mb-3"
              (click)="openExamModal(examModal, exam.exam_id)"
            >
              <div class="card-header">
                <h5 class="card-title">{{ exam.title }}</h5>
              </div>
              <div class="card-body">
                <p class="card-text">{{ exam.description }}</p>
                <p>
                  <button
                    *ngIf="!exam.is_active"
                    class="btn btn-outline-success activate-btn"
                    (click)="activateExam($event, runExamModal, exam.exam_id)"
                  >
                    Activate Exam
                  </button>
                  <button
                    *ngIf="exam.is_active"
                    class="btn btn-outline-success active-btn"
                    disabled
                  >
                    Active
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Active exams">
        <div class="row cards-container">
          <div *ngFor="let activeExam of activeExams" class="col col-auto">
            <div
              class="card border-dark mb-3"
              (click)="openActiveExamModal(activeExamModal, activeExam)"
            >
              <div class="card-header">
                <h5 class="card-title">{{ activeExam.exam.title }}</h5>
              </div>
              <div class="card-body">
                <p class="card-text">{{ activeExam.exam.description }}</p>
                <p></p>
                <div class="row">
                  <div class="col col-6">
                    <p
                      *ngIf="activeExam.duration != '0'"
                      class="mr-auto time-left"
                    >
                      Time left: {{ activeExam.duration }}
                    </p>
                  </div>
                  <div class="col col-6 token-col">
                    <button
                      class="btn btn-warning token-btn"
                      (click)="copyToClipboard($event)"
                      [cdkCopyToClipboard]="activeExam.token"
                    >
                      {{ activeExam.token }}
                      <i class="bi bi-files copy-icon"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Past exams"> </mat-tab>
    </mat-tab-group>
  </div>
</div>

<ng-template #runExamModal let-modal>
  <div class="container run-exam-container">
    <div class="container-fluid">
      <mat-slide-toggle
        color="primary"
        [checked]="isDeadlineSet"
        (change)="onDeadlineToggleChange()"
      >
        <h5>Exam deadline</h5>
      </mat-slide-toggle>
      <!--<mat-form-field>
        <input matInput [ngxMatDatetimePicker]="endPicker" placeholder="Choose a date" [formControl]="endDateControl"
          [min]="minDate" [max]="maxDate">
        <ngx-mat-datepicker-toggle matSuffix [for]="endPicker"></ngx-mat-datepicker-toggle>
        <ngx-mat-datetime-picker #endPicker [showSpinners]="showSpinners"
          [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
          [color]="color">
        </ngx-mat-datetime-picker>
      </mat-form-field>-->
      <ngx-mat-timepicker
        [(ngModel)]="date"
        [showSpinners]="false"
        [stepHour]="1"
        [stepMinute]="1"
        [stepSecond]="1"
        [color]="color"
        [disabled]="!isDeadlineSet"
        (ngModelChange)="onTimeChange()"
      >
      </ngx-mat-timepicker>
      <div *ngIf="!isValidDate && isDeadlineSet" class="error-message">
        Selected deadline cannot be before the current time.
      </div>
    </div>
    <!--Two buttons in the same line-->
    <div class="btn-container">
      <button
        class="btn btn-outline-danger cancel-btn"
        (click)="modal.dismiss('Cross click')"
      >
        Cancel
      </button>
      <button
        class="btn btn-outline-success"
        (click)="runExam(selected_exam!.exam_id)"
        [disabled]="!isValidDate && isDeadlineSet"
      >
        Run Exam
      </button>
    </div>
  </div>
</ng-template>
<!-- Your existing template code -->

<ng-template #examModal let-modal>
  <div (click)="modal.dismiss('Cross click')" class="exit">
    <i class="bi bi-x"></i>
  </div>
  <div class="exam-modal-container container">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <!-- ... (existing code) ... -->
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <!-- ... (existing code) ... -->
        </div>
      </div>
    </div>
    <mat-accordion>
      <!-- Questions Section -->
      <mat-expansion-panel expanded hideToggle style="height: 800px">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p class="questions-list">Questions</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="list-group">
          <li
            *ngFor="let question of selected_exam!.questions; let i = index"
            class="list-group-item"
          >
            <!-- Show/hide editable question text based on editingQuestion -->
            <div
              *ngIf="
                !editingQuestion ||
                (editingQuestion && editingQuestionIndex === i)
              "
            >
              <div class="input-group">
                <input
                  type="text"
                  readonly
                  *ngIf="!editingQuestion"
                  class="form-control custom-input"
                  [(ngModel)]="question.text"
                  placeholder="Enter Question Text"
                />
              </div>
              <div class="input-group">
                <input
                  type="text"
                  *ngIf="editingQuestion"
                  class="form-control custom-input"
                  [(ngModel)]="question.text"
                  placeholder="Enter Question Text"
                />
              </div>
            </div>

            <!-- Show/hide editable score based on editingQuestion -->
            <div
              class="input-group"
              *ngIf="
                !editingQuestion ||
                (editingQuestion && editingQuestionIndex === i)
              "
            >
              <input
                *ngIf="!editingQuestion"
                readonly
                type="number"
                class="form-control custom-input"
                [(ngModel)]="question.score"
                placeholder="Enter Score"
              />
            </div>
            <div
              class="input-group"
              *ngIf="editingQuestion && editingQuestionIndex === i"
            >
              <input
                type="number"
                class="form-control custom-input"
                [(ngModel)]="question.score"
                placeholder="Enter Score"
              />
            </div>

            <!-- Edit buttons -->
            <div *ngIf="!editingQuestion">
              <button
                class="btn btn-outline-primary edit-btn"
                (click)="startEditQuestion(i)"
              >
                Edit
              </button>
            </div>
            <div *ngIf="editingQuestion && editingQuestionIndex === i">
              <button
                class="btn btn-outline-secondary cancel-btn"
                (click)="cancelEditQuestion()"
              >
                Cancel
              </button>
              <button
                class="btn btn-outline-success save-btn"
                (click)="saveChangesQuestion(question)"
              >
                Save
              </button>
            </div>

            <!-- Editable answers -->
            <ul
              *ngFor="let answer of question.answers; let j = index"
              class="answers-list"
            >
              <li
                class="answer-item"
                *ngIf="editingQuestion && editingQuestionIndex === i"
              >
                <!-- Editable answer text -->

                <div class="input-group">
                  <input
                    *ngIf="editingQuestion"
                    type="text"
                    class="form-control custom-input"
                    [(ngModel)]="answer.text"
                    placeholder="Enter Answer Text"
                  />
                </div>
                <!-- Editable Boolean value -->
                <div class="form-check">
                  <input
                    type="checkbox"
                    [class.form-check-input]="editing"
                    *ngIf="editingQuestion"
                    class="form-control custom-input"
                    class="form-check-input"
                    [(ngModel)]="answer.correct"
                  />
                  <label class="form-check-label">Correct Answer</label>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-template>

<ng-template #activeExamModal let-modal>
  <div class="container active-exam-container">
    <div class="row">
      <div (click)="modal.dismiss('Cross click')" class="exit active-exit">
        <i class="bi bi-x"></i>
      </div>
    </div>
    <h4 class="active-exam-title">{{ selectedActiveExam!.exam.title }}</h4>
    <div class="row exam-key-row">
      <div class="col col-6 exam-key-col">
        <p class="exam-key-text">Exam key:</p>
        <span>
          <span class="token-active">{{ selectedActiveExam!.token }}</span>
          <button
            class="btn btn-warning token-btn-i"
            (click)="copyToClipboard($event)"
            [cdkCopyToClipboard]="selectedActiveExam!.token"
          >
            <i class="bi bi-files copy-icon"></i>
          </button>
        </span>
      </div>
      <div class="col col-6 stop-col">
        <button
          class="btn btn-outline-danger stop-exam-btn"
          (click)="stopExam(selectedActiveExam!.active_exam_id)"
        >
          Stop exam
        </button>
      </div>
    </div>
    <div class="row stats-row">
      <div class="col">
        <h2>2</h2>
        <small>Started the exam</small>
      </div>
      <div class="col">
        <h2>0</h2>
        <small>Submitted the exam</small>
      </div>
    </div>
    <div class="container-fluid table-cont">
      <h5>List of students</h5>
      <table class="fixed-header">
        <thead>
          <tr class="custom-tr">
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td>{{ student.id }}</td>
            <td>{{ student.firstName }}</td>
            <td>{{ student.lastName }}</td>
            <td>{{ student.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
