<div class="container-fluid">
  <div class="button-container">
    <button class="btn btn-outline-dark create-exam">Create exam</button>
  </div>
  <hr>
  <div class="container-fluid">
    <mat-tab-group animationDuration="800ms" dynamicHeight>
      <mat-tab label="Saved exams">
        <div class="row">
          <div *ngFor="let exam of exams" class="col col-auto">
            <div (click)="openExamModal(examModal,exam.exam_id)" class="card border-dark mb-3">
              <div class="card-header"><h5 class="card-title">{{exam.title}}</h5></div>
              <div class="card-body">
                <p class="card-text">{{exam.description}}
                <p>
                  <button (click)="activateExam($event)" *ngIf="!exam.is_active" class="btn btn-outline-success">
                    Activate Exam
                  </button>
                  <button (click)="activateExam($event)" *ngIf="exam.is_active" class="btn btn-outline-success"
                          disabled> Active
                  </button>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Past exams">
        <div class="row">
          <div class="col col-auto">
            <div class="card border-dark mb-3" style="max-width: 18rem;">
              <div class="card-header"><h5 class="card-title">Exam Title</h5></div>
              <div class="card-body">
                <p class="card-text">This is a description of the exam. It can contain more details and instructions to
                  guide the students.</p>
                <a class="btn btn-outline-success" href="#">Activate Exam</a>
              </div>
            </div>
          </div>
          <div class="col col-auto">
            <div class="card border-dark mb-3" style="max-width: 18rem;">
              <div class="card-header"><h5 class="card-title">Exam Title</h5></div>
              <div class="card-body">
                <p class="card-text">This is a description of the exam. It can contain more details and instructions to
                  guide the students.</p>
                <a class="btn btn-outline-success" href="#">Activate Exam</a>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<ng-template #examModal let-modal>
  <div class="container">
    <h4>Questions List</h4>
    <ul *ngIf="selected_exam" class="list-group">
      <li *ngFor="let question of selected_exam.questions" class="list-group-item">
        <span class="question-text">{{ question.text }}</span>
        <span class="tag">{{ question.topic }}</span>
      </li>
    </ul>
  </div>
</ng-template>
