.button-container {
  height: 45px;
  width: 100%;
}

.card {
  min-height: 205px;
  max-height: 205px;
  cursor: pointer;
  width: 350px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.253);
  overflow: hidden;
  transition: transform 0.3s;
  @media (max-width: 600px) {
    width: 300px;
  }
}

.card:hover {
  transform: scale(1.02);
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.card-text {
  height: 75px;
  color: #6c757d;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.cards-container {
  margin-top: 50px;
  margin-left: 5px;
}

.activate-btn:active {
  transform: scale(0.98); 
}

.activate-btn {
  border-radius: 45px;
  float: right;
}

.active-btn {
  float: right;
  width: 100px;
  font-weight: bold;
  border: none;
  font-size: medium;
}

.exam-modal-container {
padding: 20px 20px 10px 20px;
width: 100%;
min-height: 45vh;
}

.list-group-item {
background-color: #f8f9fa;
border: none;
color: #333;
position: relative;
padding: 10px 15px;
margin-bottom: 10px;
border-radius: 4px;
}

.list-group-item:hover {
background-color: #e2e6ea;
}

.question-text {
  display: inline-block;
  width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.question-text-clicked {
  display: inline-block;
  width: 85%;
}

.tag {
display: inline-block;
width: 15%;
text-align: right;
color: #6c757d;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}


.custom-input {
border-radius: 4px;
border: 1px solid #ced4da;
padding: 0.375rem 0.75rem;
line-height: 1.5;
width: 100%;
box-sizing: border-box;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-input:focus {
border-color: #c2c2c2;
outline: 0;
box-shadow: 0 0 0 0.2rem rgba(166, 193, 223, 0.25);
}

.exam-title {
font-style: normal;
color: #333;
font-weight: 600;
}

.questions-list {
font-size: 19.5px;
}

.form-group {
margin-bottom: 15px;
}

textarea {
resize: none;
height: 20vh;
}

.exit {
width: 100%;
border-radius: 5px;
height: auto;
margin-bottom: -15px;
margin-top: 2px;
}

.exit i {
float: right;
cursor: pointer;
margin-right: 12px;
font-weight: 400;
font-size:x-large;
}

.active-exit i {
  float: right;
  cursor: pointer;
  margin-right: 0;
  font-weight: 400;
  font-size:x-large;
  }

.answer-item {
margin-bottom: 2px;
font-style: italic;
}

.answers-list {
list-style-type: none;
}

.list-group {
max-height: 400px; /* Set a maximum height to enable scrolling */
overflow-y: auto; 
border: none;
}

.btn-container {
float: right;
margin-top: auto;
vertical-align: bottom;
}

.btn-container button {
margin-right: 7px;
border-radius: 5px;
margin-bottom: 10px;
}

.run-exam-container {
min-height: 15vh;
}

.run-exam-container h5 {
margin: 15px 0 15px 15px;
}

.token-btn {
  float: right;
}

.token-btn:active {
transform: scale(0.98);
}

.time-left {
  margin-top: 7px;
  font-weight: 400;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: -10px;
}

.token-active {
  margin-top: 6px;
  font-weight: bold;
}

.token-btn-i {
  margin-left: -5px;
  margin-top: 0;
  height: auto;
  background-color: transparent;
  border: none;
}

.token-btn-i:hover {
  transform: scale(0.985);
  background-color: transparent;
  border: none;
}

.token-btn-i:active {
  transform: scale(0.98);
}

.exam-key-col {
  display:flex;
}

.exam-key-text {
  margin-top: 4px;
  margin-right: 8px;
}

.exam-key-row {
  margin-top: 25px;
}

.stop-col {
  align-items: end;
  text-align: right;
}

.stop-exam-btn {
  margin-top: -15px;
}

.stats-row {
  margin-top: 20px;
}

.stats-row .col {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  table-layout: fixed;
}

th {
  background-color: #bebebe;
  color: #ffffff;
  text-align: left;
}

tbody tr:hover {
  background-color: #e0e0e0;
}

.table-cont {
  margin-top: 35px;
}

.table-cont h5 {
  font-weight: 600;
  margin-left: 0px;
}

.active-exam-container {
  min-height: 20vh;
  padding-left: 20px;
  padding-right: 20px;
}

.fixed-header tbody {
  display: block;
  width: 100%;
  overflow: auto;
  max-height: 40vh;
}
.fixed-header tr {
  display: block;
}

.custom-tr {
  background-color: #bebebe;
}

.fixed-header tr th {
  width: 176px;
}

.fixed-header th,
.fixed-header td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  width: 200px;
  text-align: left;
}