/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/

.error-snackbar {
    max-width: max-content !important;
    color: white;
    --mdc-snackbar-container-color: rgba(255, 0, 0, 0.745);
    border-color: black;
    --mat-mdc-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
  }

.cdk-overlay-container{
  z-index: 1800 !important;
}