<div class="container">
  <div class="login-container">
    <h2>Sign up</h2>
    <form [formGroup]="form!" (submit)="submit()">
      <div class="form-group">
        <label for="first_name">First name:</label>
        <input formControlName="first_name" type="text" class="form-control" id="first_name" placeholder="Enter your first name">
        <div class="error" *ngIf="form?.get('first_name')?.errors?.['required'] && submit_clicked">First name is required.</div>
        <div class="error" *ngIf="(form?.get('first_name')?.errors?.['minlength'] || form?.get('first_name')?.errors?.['maxlength']) && form?.get('first_name')?.dirty">First name must be at least 3 and at most 20 characters long.</div>
      </div>
      <div class="form-group">
          <label for="last_name">Last name:</label>
          <input formControlName="last_name" type="text" class="form-control" id="last_name" placeholder="Enter your last name">
          <div class="error" *ngIf="form?.get('last_name')?.errors?.['required'] && submit_clicked">Last name is required.</div>
          <div class="error" *ngIf="(form?.get('last_name')?.errors?.['minlength'] || form?.get('last_name')?.errors?.['maxlength']) && form?.get('last_name')?.dirty">Last name must be at least 3 and at most 20 characters long.</div>
        </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter your email">
        <div *ngIf="form?.get('email')?.errors?.['email'] && (form?.get('email')?.dirty || form?.get('email')?.touched)" class="error-message">
          <div class="error" *ngIf="form?.get('email')?.errors?.['email']">Please enter a valid email address.</div>
        </div>
        <div class="error" *ngIf="form?.get('email')?.errors?.['required'] && submit_clicked">Email is required.</div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input formControlName="password" type="password" class="form-control" id="password" placeholder="Enter your password">
        <div class="error" *ngIf="form?.get('password')?.errors?.['required'] && submit_clicked">Password is required.</div>
        <div class="error" *ngIf="(form?.get('password')?.errors?.['minlength'] || form?.get('password')?.errors?.['maxlength']) && form?.get('password')?.dirty">Password must be at least 8 and at most 16 characters long.</div>
        <div class="error" *ngIf="form?.get('password')?.errors?.['weakPassword'] && form?.get('password')?.dirty">Password must contain at least one uppercase letter, one lowercase letter, one number and a special character.</div>
      </div>

      <div class="form-group">
        <label for="password">Repeat your password:</label>
        <input formControlName="repeat_password" type="password" class="form-control" id="password" placeholder="Enter your password">
        <div *ngIf="form?.get('repeat_password')?.invalid && (form?.get('repeat_password')?.dirty || form?.get('repeat_password')?.touched)" class="error-message">
          <div class="error" *ngIf="form?.get('repeat_password')?.errors?.['required']">Confirmation password is required.</div>
          <div class="error" *ngIf="form?.get('repeat_password')?.errors?.['passwordMismatch']">Passwords do not match.</div>
        </div>
      </div>
      <button type="submit" class="btn btn-dark btn-register">Sign up</button>
      <label class="sign-in-label">Already have an account? <span class="sign-in" (click)="goToSignIn()">Sign in</span></label>
    </form>
  </div>
</div>


