.login-container {
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 30px;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  padding: 13px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.btn-register {
  display: block;
  width: 100%;
  padding: 13px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 40px;
}

.btn-register:active {
  transform: scale(0.98);
}

.form-control:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(182, 184, 186, 0.8);
}

.error {
  color: red;
}


.sign-in-label {
  color: black;
  margin-top: 15px;
}

.sign-in{
  font-weight: bold;
}

.sign-in:hover{
  text-decoration: underline;
  cursor: pointer;
}

.h2 {
  font-weight: bold;
}
