<div class="container">
  <div class="login-container">
    <h2>Sign up</h2>
    <form (submit)="submit()" [formGroup]="form!">
      <div class="form-group">
        <label for="first_name">First name:</label>
        <input class="form-control" formControlName="first_name" id="first_name" placeholder="Enter your first name"
               type="text">
        <div *ngIf="form?.get('first_name')?.errors?.['required'] && submit_clicked" class="error">First name is
          required.
        </div>
        <div *ngIf="form?.get('first_name')?.errors?.['minlength'] && form?.get('first_name')?.dirty" class="error">
          First name must be at least 3 characters long.
        </div>
      </div>
      <div class="form-group">
        <label for="last_name">Last name:</label>
        <input class="form-control" formControlName="last_name" id="last_name" placeholder="Enter your last name"
               type="text">
        <div *ngIf="form?.get('last_name')?.errors?.['required'] && submit_clicked" class="error">Last name is
          required.
        </div>
        <div *ngIf="form?.get('last_name')?.errors?.['minlength'] && form?.get('last_name')?.dirty" class="error">Last
          name must be at least 3 characters long.
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control" formControlName="email" id="email" placeholder="Enter your email" type="email">
        <div *ngIf="form?.get('email')?.errors?.['email'] && (form?.get('email')?.dirty || form?.get('email')?.touched)"
             class="error-message">
          <div *ngIf="form?.get('email')?.errors?.['email']" class="error">Please enter a valid email address.</div>
        </div>
        <div *ngIf="form?.get('email')?.errors?.['required'] && submit_clicked" class="error">Email is required.</div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" formControlName="password" id="password" placeholder="Enter your password"
               type="password">
        <div *ngIf="form?.get('password')?.errors?.['required'] && submit_clicked" class="error">Password is required.
        </div>
        <div *ngIf="form?.get('password')?.errors?.['minlength'] && form?.get('password')?.dirty" class="error">Password
          must be at least 8 characters long.
        </div>
        <div *ngIf="form?.get('password')?.errors?.['weakPassword'] && form?.get('password')?.dirty" class="error">
          Password must contain at least one uppercase letter, one lowercase letter, and one number.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Repeat your password:</label>
        <input class="form-control" formControlName="repeat_password" id="password" placeholder="Enter your password"
               type="password">
        <div
          *ngIf="form?.get('repeat_password')?.invalid && (form?.get('repeat_password')?.dirty || form?.get('repeat_password')?.touched)"
          class="error-message">
          <div *ngIf="form?.get('repeat_password')?.errors?.['required']" class="error">Confirmation password is
            required.
          </div>
          <div *ngIf="form?.get('repeat_password')?.errors?.['passwordMismatch']" class="error">Passwords do not
            match.
          </div>
        </div>
      </div>
      <button class="btn btn-dark btn-register" type="submit">Sign up</button>
      <label class="sign-in-label">Already have an account? <span (click)="goToSignIn()" class="sign-in">Sign in</span></label>
    </form>
  </div>
</div>


